//1.TYPOGRAPHY
//===============================================

//Fonts
$font-popins:'Poppins', sans-serif;
$font-merri:'Merriweather', serif;


//Headers

$headers :(h1,28px,22px),
          (h2,25px,20px),
          (h3,25px,30px),
          (h4,23px,30px),
          (h5,20px,24px),
          (h6,25px,30px);

//Paragraph
$p-fs:15px;
$p-lh:32px;



//2.COLOR
//===============================================

//Color palette
$color-main:#41cdc5;
$color-second:#255f6d;
$color-third:#357773;
$color-dark:#27313a;




//Grayscale
$grey-d2:#333333;
$grey-d1:#666666;
$grey:#B3B3B3;
$grey-l1:#E6E6E6;
$grey-l2: #F2F2F2;


//Html Elements-color
$text-color:#1e1e1e;


//Box shadows
$soft-shadow:3px 2px 4px rgba(0,0,0,0.28);
$softer-shadow:0px 3px 9px -2px rgba(138,138,138,0.43);
$text-shadow:3px 2px 4px rgba(0,0,0,1);
$tab-hover-shadow:-3px 4px 4px rgba(0,0,0,0.15);
$blur-shadow:0 8px 31px 0 rgba(0, 0, 0, .1);


//3.LAYOUT
//===============================================

//Breakpoints
$desktop:1600px;
$laptop:1170px;
$tablet:800px;
$mobileH:500px;






//4. FUNCTIONS
//===============================================

//Image path
@function imgpath($folder,$img){
  $path:'../img/';
  @return url($path+$folder+'/'+$img);
}


//Px to Em
@function pxtoem($px, $main-size){
  $pxtoem: ($px / $main-size)*1em;
  @return $pxtoem;
}



//5. MIXINS / PLACEHOLDERS
//===============================================

//Background images (Remove default)
@mixin bg-img($bg-height, $bg-position) {
  background-repeat: no-repeat;
  height: $bg-height;
  background-position: $bg-position;
}


//Background images - ParallaxCss
@mixin parallaxCss(
          $bg-position,
          $bg-folder,
          $bg-img,
          $bg-height:400px) {

        background-image: imgpath($bg-folder, $bg-img);
        background-repeat: no-repeat;
        height: $bg-height;
        background-position: $bg-position;
        background-attachment: fixed;
        @extend %cnt-x-cnt;
        .content{
          width: 90%;
          @include mq($laptop){
            width: 50%;
          };
        }
}




//Media queries
@mixin mq($bp){
  @media screen and(min-width: $bp){
    @content;
  }
}

//Box-shadow
@mixin box-shadow($box-shadow){
  box-shadow: $box-shadow;
}


@mixin cssparallax($prlx-h, $prlx-pos, $prlx-folder, $prlx-img) {
    @extend %cnt-x-sp-ar;
    height: $prlx-h;
    background-position: $prlx-pos;
    background-attachment: fixed;
    background-image: imgpath($prlx-folder,$prlx-img);
    background-repeat: no-repeat;
    .content{
      width: 90%;
      @include mq($laptop){
        width: 50%;
      };
    }
}



//Prefixes
$prefixes: '-webkit-','-moz-','-o-','-ms-';
 @mixin prefixed ($property,$value){
   @each $prefix in $prefixes{
     #{unquote($prefix)}#{$property}:$value;
   }
 }




//FlexBox - Center X axis
%cnt-x-sp-ar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

%cnt-x-sp-bt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

%cnt-x-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}





 //Prefixes - FlexBox (Safari): display
%flex-display{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


//Prefixes - FlexBox (Safari): align-items
%flex-align-items{
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


//Prefixes - FlexBox (Safari): wrap
%flex-wrap{
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


//Prefixes - Justify (Safari): wrap
%flex-just-b{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  justify-content: space-between;
}

%flex-just-a{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  justify-content: space-around;
}


%flex-just-c{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: center; /* Safari 6.1+ */
  justify-content: center;
}



%flex-just-end{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end; /* Safari 6.1+ */
  justify-content: flex-end;
}


%flex-just-start{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end; /* Safari 6.1+ */
  justify-content: flex-start;
}

 //Gradient

 @mixin gradient($property, $value,$direction,$color1,$color2) {
   @each $prefix in $prefixes{
     #{$property}:"#{unquote($prefix)}$value ($direction,$color1,$color2)";
   }
 }
