/* Aviso lateral flotante */

.side-float{
    overflow: hidden;
    height: 120px;
    width: 447px;
    position:fixed;
    z-index: 0;
    right:20px;
    bottom:-276px; /* Por defecto está oculto */
    background-color: #fff;
    @include prefixed(box-shadow, $blur-shadow);
    box-shadow:$blur-shadow;
    @include prefixed(transition, 0.4s);
    transition:0.4s;
    @extend %flex-display;
    @extend %flex-just-b;
  
    .icn{
      width:20%;
      color:#fff;
      @extend %flex-display;
      @extend %flex-align-items;
      @extend %flex-just-c;
      @include prefixed(transition, 0.4s);
      transition: 0.4s;
      height: 100%;
      background-color: $color-main;  
      cursor:pointer;
      &:hover{
        background-color: darken($color-main, 5%);
      }
    }
  
    .txt{
      width:75%;
      h5{
        margin:20px 0px 5px 0px;
        font-size:pxtoem(17px, 16px);
        color:lighten($color-second, 8%);
        font-weight: 600;
        letter-spacing: 1px;
  
        .minimize{    
          cursor: pointer;    
          span{
            display: table;
            box-sizing: border-box;
            color:$color-main;            
            padding: 4px;
            float: right;
            position: relative;
            top:-9px;
            right:19px;
            z-index: 2;
            font-size: pxtoem(10px, 16px); 
            border-radius: 50%; 
          }

          &:hover{
            span{
              color:$color-third;
            }            
          }
        }
      }
  
      p{
        font-size: pxtoem(13px, 16px);
        letter-spacing: 0.5px;
        margin:6px 0px 0px 0px;
        font-weight: 400;
        strong{
          color: $grey-d2;
          font-weight: 600;
        }
        a{
          display: block;
         &:hover{
           color: darken($color-main, 15%);
         }
        }
      }
    }




    &.active{
        bottom:20px;
    }


    #hideModeTxt{
      width: 0%;
      text-align: center;     
      position: absolute;
      right: 58%;
      z-index: 1;
      display: none;
      span{
        color: #fff;
        line-height: 40px;
      } 
    }



    &.hide-mode{
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: $color-main;
      cursor: pointer;
      i{
        font-size: 24px!important;
      }
      .icn{
        border-radius: 50%;
        background: transparent;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 9;
        .fa-comments{
          @include prefixed(transition, 0.4s);
          transition: 0.4s;
        }

      }


      &:hover{
        border-radius: 30px;
        width:194px;
        height:40px;
        .icn{
          border-radius: 0%;
          .fa-comments{
            @include prefixed(transform, translateX(40px));
            transform: translateX(-47px);            
          }          
        }
        #hideModeTxt{
          display: table;
        }
      }
    }
    
  }


  