@charset "UTF-8";
.mobile-nav .menu-mobile--top .menu-mobile--close, .btn-text--main, .btn-text--main--border, .btn-text--second--border, .btn-text--second, .btn-text--white, .btn-text--white--border, .btn-icon-circle--main, .btn-icon-circle--second, .btn-icon-circle--greyd {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

.topbar, .topbar .top-datos--social, .topbar .top-datos--idiomas, .topbar .top-datos--contact, .brand, .nav, .nav .menu__item, .nav .menu__link, .side-float, .side-float .icn, .mkl-head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.topbar, .topbar .top-datos--social, .topbar .top-datos--idiomas, .topbar .top-datos--contact, .brand, .nav, .nav .menu__item, .nav .menu__link, .side-float .icn, .mkl-head {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.side-float {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Safari 6.1+ */
  justify-content: space-between; }

.topbar, .topbar .top-datos--idiomas, .nav .menu__item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  /* Safari 6.1+ */
  justify-content: space-around; }

.brand, .nav .menu__link, .side-float .icn {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  /* Safari 6.1+ */
  justify-content: center; }

.topbar .top-datos--contact, .nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  /* Safari 6.1+ */
  justify-content: flex-end; }

.topbar .top-datos--social {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  /* Safari 6.1+ */
  justify-content: flex-start; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  padding: 0; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3 {
  font-size: 2em;
  margin: 0.67em 0; }

ul {
  padding: 0;
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption, figure, main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-style: none;
  margin: 0px;
  width: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active, a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio, video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 20px; }
@media screen and (min-width: 800px) {
  html {
    font-size: 15.5px;
    line-height: 20.5px; } }
@media screen and (min-width: 1170px) {
  html {
    font-size: 16px;
    line-height: 21px; } }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #41cdc5; }

::selection {
  color: #fff;
  background: #41cdc5; }

h1 {
  font-size: 1.75em;
  line-height: 1.375em; }

h2 {
  font-size: 1.5625em;
  line-height: 1.25em; }

h3 {
  font-size: 1.5625em;
  line-height: 1.875em; }

h4 {
  font-size: 1.4375em;
  line-height: 1.875em; }

h5 {
  font-size: 1.25em;
  line-height: 1.5em; }

h6 {
  font-size: 1.5625em;
  line-height: 1.875em; }

h1 {
  color: #333333;
  margin-top: 0px; }

h2 {
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 300;
  margin-top: 25px; }
h2.subtitle {
  font-size: 18px; }

h3 {
  letter-spacing: 1px;
  color: #41cdc5;
  line-height: 32px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-top: 25px; }
h3.subtitle02 {
  font-size: 29px !important; }

p {
  font-size: 0.9375em;
  line-height: 2em;
  color: #1e1e1e;
  font-weight: 300; }

a {
  color: #41cdc5;
  text-decoration: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s; }

ul {
  list-style-type: none; }

.hr-corto {
  width: 10%; }
.hr-medio {
  width: 50%; }
.hr-largo {
  width: 100%; }
.hr-fino {
  height: 1px; }
.hr-normal {
  height: 2px; }
.hr-grueso {
  height: 4px; }

footer {
  background: #255f6d; }
footer h5 {
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 40px;
  letter-spacing: 2px; }
@media screen and (min-width: 1170px) {
  footer h5 {
    margin-top: 0px; } }
footer h5 a {
  color: #afafaf; }
footer h5 a:hover {
  color: #eee; }
footer p {
  color: #afafaf; }
footer p a {
  color: #afafaf; }
footer p a:hover {
  color: #eee; }
footer ul {
  margin-left: 21px !important; }
footer ul li {
  color: #afafaf;
  line-height: 30px; }
footer ul li i {
  line-height: 27px !important;
  color: #afafaf; }

.footer02 {
  background: #183e47;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 27px 0px 21px 0px; }
.footer02 p {
  color: #a0a0a0;
  font-size: 13px; }
.footer02 a {
  color: #a0a0a0; }
.footer02 a:hover {
  color: #eee; }
.footer02 span {
  margin: 0px 10px; }
.footer02 i {
  font-size: 23px !important;
  margin-left: 10px !important;
  color: #a0a0a0; }

.hr-foot {
  position: relative; }
.hr-foot:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #494949;
  bottom: -12px;
  z-index: 2; }

.hr-foot-hr {
  height: 2px;
  position: relative;
  z-index: 2; }

.enc-corp {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #255f6d;
  font-weight: 600;
  letter-spacing: 1px; }
.enc-corp strong {
  font-weight: 600;
  color: #41cdc5; }
.enc-corp.small {
  margin-top: 0px;
  font-size: 1.4375em;
  line-height: 1.5em !important; }

h2.enc-corp {
  font-size: 28px;
  margin-top: 2px; }

.section-marked:before {
  content: '';
  background-repeat: no-repeat;
  width: 13px;
  height: 18px;
  background: #41cdc5;
  position: absolute;
  left: 0px;
  display: block;
  margin-top: 8px; }
@media screen and (min-width: 500px) {
  .section-marked:before {
    width: 25px;
    height: 24px;
    margin-top: 6px; } }
@media screen and (min-width: 800px) {
  .section-marked:before {
    width: 31px;
    height: 24px;
    margin-top: 6px; } }
@media screen and (min-width: 1170px) {
  .section-marked:before {
    width: 50px;
    height: 35px;
    margin-top: 3px; } }
@media screen and (min-width: 1600px) {
  .section-marked:before {
    display: none; } }

.enc-corp-second {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #B3B3B3;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
  margin-bottom: 40px; }
.enc-corp-second:after {
  content: '';
  display: block;
  background: #41cdc5;
  height: 3px;
  position: relative;
  bottom: -14px;
  width: 40px; }

.enc-corp-center {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #255f6d;
  font-weight: 600;
  letter-spacing: 1px; }
.enc-corp-center strong {
  font-weight: 600;
  color: #41cdc5; }

.subtit-corp {
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #41cdc5;
  font-style: italic; }

.list-corp {
  margin-left: 20px;
  margin-top: 24px; }
.list-corp li {
  margin: 10px 0px;
  font-size: 0.875em; }
.list-corp li span {
  color: #333333 !important;
  font-style: italic;
  font-weight: 400; }

#cookiebar p {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px 0px;
  font-size: 13px;
  color: #fff !important; }

#cookiebar a {
  display: block;
  margin-left: 10px;
  width: 70px;
  height: 18px;
  float: left; }

#cookieAcptBtn {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  margin-top: 0px;
  background: #D6DE50;
  color: #000;
  box-sizing: border-box;
  float: left; }

.container-fluid {
  width: 100%;
  margin: auto;
  height: auto;
  overflow: auto; }
@media screen and (min-width: 1600px) {
  .container-fluid {
    max-width: 1280px;
    width: 90%; } }

.container-full {
  width: 100%;
  margin: auto;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 15px; }

.container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  height: auto;
  overflow: auto; }

.row {
  clear: both; }

.section {
  padding: 20px 0px; }
.section-xl {
  clear: both;
  padding-bottom: 100px; }
.section-l {
  clear: both;
  padding-bottom: 80px; }
.section-m {
  clear: both;
  padding-bottom: 40px; }
.section-s {
  clear: both;
  padding-bottom: 20px; }
.section-xl--doble {
  clear: both;
  padding: 100px 0px; }
.section-l--doble {
  clear: both;
  padding: 80px 0px; }
.section-m--doble {
  clear: both;
  padding: 40px 0px; }
.section-s--doble {
  clear: both;
  padding: 20px 0px; }
.section-xl--top {
  clear: both;
  padding-top: 100px; }
.section-l--top {
  clear: both;
  padding-top: 80px; }
.section-m--top {
  clear: both;
  padding-top: 40px; }
.section-s--top {
  clear: both;
  padding-top: 20px; }

@media screen and (min-width: 800px) {
  .container {
    width: 88%; } }
@media screen and (min-width: 1170px) {
  .container {
    width: 88%; } }
.col.s1 {
  width: 8.3333333333%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s2 {
  width: 16.6666666667%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s3 {
  width: 25%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s4 {
  width: 33.3333333333%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s5 {
  width: 41.6666666667%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s6 {
  width: 50%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s7 {
  width: 58.3333333333%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s8 {
  width: 66.6666666667%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s9 {
  width: 75%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s10 {
  width: 83.3333333333%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s11 {
  width: 91.6666666667%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.s12 {
  width: 100%;
  padding: 0px 15px;
  float: left;
  box-sizing: border-box;
  margin-left: 0%;
  position: relative; }

.col.offset-s-1 {
  margin-left: 8.3333333333%; }

.col.offset-s-2 {
  margin-left: 16.6666666667%; }

.col.offset-s-3 {
  margin-left: 25%; }

.col.offset-s-4 {
  margin-left: 33.3333333333%; }

.col.offset-s-5 {
  margin-left: 41.6666666667%; }

.col.offset-s-6 {
  margin-left: 50%; }

.col.offset-s-7 {
  margin-left: 58.3333333333%; }

.col.offset-s-8 {
  margin-left: 66.6666666667%; }

.col.offset-s-9 {
  margin-left: 75%; }

.col.offset-s-10 {
  margin-left: 83.3333333333%; }

.col.offset-s-11 {
  margin-left: 91.6666666667%; }

.col.offset-s-12 {
  margin-left: 100%; }

@media screen and (min-width: 800px) {
  .col.m1 {
    width: 8.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m2 {
    width: 16.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m3 {
    width: 25%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m4 {
    width: 33.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m5 {
    width: 41.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m6 {
    width: 50%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m7 {
    width: 58.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m8 {
    width: 66.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m9 {
    width: 75%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m10 {
    width: 83.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m11 {
    width: 91.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.m12 {
    width: 100%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.offset-m-1 {
    margin-left: 8.3333333333%; }

  .col.offset-m-2 {
    margin-left: 16.6666666667%; }

  .col.offset-m-3 {
    margin-left: 25%; }

  .col.offset-m-4 {
    margin-left: 33.3333333333%; }

  .col.offset-m-5 {
    margin-left: 41.6666666667%; }

  .col.offset-m-6 {
    margin-left: 50%; }

  .col.offset-m-7 {
    margin-left: 58.3333333333%; }

  .col.offset-m-8 {
    margin-left: 66.6666666667%; }

  .col.offset-m-9 {
    margin-left: 75%; }

  .col.offset-m-10 {
    margin-left: 83.3333333333%; }

  .col.offset-m-11 {
    margin-left: 91.6666666667%; }

  .col.offset-m-12 {
    margin-left: 100%; } }
@media screen and (min-width: 1170px) {
  .col.l1 {
    width: 8.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l2 {
    width: 16.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l3 {
    width: 25%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l4 {
    width: 33.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l5 {
    width: 41.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l6 {
    width: 50%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l7 {
    width: 58.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l8 {
    width: 66.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l9 {
    width: 75%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l10 {
    width: 83.3333333333%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l11 {
    width: 91.6666666667%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.l12 {
    width: 100%;
    padding: 0px 15px;
    float: left;
    box-sizing: border-box;
    margin-left: 0%;
    position: relative; }

  .col.offset-l-1 {
    margin-left: 8.3333333333%; }

  .col.offset-l-2 {
    margin-left: 16.6666666667%; }

  .col.offset-l-3 {
    margin-left: 25%; }

  .col.offset-l-4 {
    margin-left: 33.3333333333%; }

  .col.offset-l-5 {
    margin-left: 41.6666666667%; }

  .col.offset-l-6 {
    margin-left: 50%; }

  .col.offset-l-7 {
    margin-left: 58.3333333333%; }

  .col.offset-l-8 {
    margin-left: 66.6666666667%; }

  .col.offset-l-9 {
    margin-left: 75%; }

  .col.offset-l-10 {
    margin-left: 83.3333333333%; }

  .col.offset-l-11 {
    margin-left: 91.6666666667%; }

  .col.offset-l-12 {
    margin-left: 100%; } }
.right-align {
  text-align: right !important; }

.left-align {
  text-align: left !important; }

.center-align {
  text-align: center !important; }

.right-align.resp-invert {
  text-align: left !important; }
@media screen and (min-width: 800px) {
  .right-align.resp-invert {
    text-align: right !important; } }

.bold {
  font-weight: 800; }

.semi {
  font-weight: 600; }

.regular {
  font-weight: 400; }

.normal {
  font-weight: 300; }

.light {
  font-weight: 200; }

.upcase {
  text-transform: uppercase !important; }

.font-second {
  font-family: "Poppins", sans-serif; }

.c-corp {
  color: #41cdc5 !important; }

.c-corp-l {
  color: #41cdc5 !important; }

.c-second {
  color: #255f6d !important; }

.c-second-l {
  color: #255f6d !important; }

.c-third {
  color: #41cdc5 !important; }

.c-white {
  color: #fff !important; }

.bg-c-corp {
  background: #41cdc5 !important; }

.bg-c-second {
  background: #255f6d !important; }

.bg-white {
  background: #fff; }

.bg-grey {
  background: #B3B3B3; }

.bg-grey-l1 {
  background: #E6E6E6; }

.bg-grey-l2 {
  background: #F2F2F2; }

.bg-grey-d1 {
  background: #666666; }

.bg-grey-d2 {
  background: #333333; }

.center-block {
  display: block;
  margin: 0px auto; }

.responsive-img {
  max-width: 100%;
  height: auto; }
.responsive-img.img-full {
  width: 100%; }
@media screen and (min-width: 1170px) {
  .responsive-img.img-full {
    width: auto; } }
@media screen and (min-width: 500px) {
  .responsive-img.img-redu {
    max-width: 51%; } }
@media screen and (min-width: 800px) {
  .responsive-img.img-redu {
    max-width: 100%; } }
.responsive-img.img-half {
  float: left;
  margin-right: 5px;
  width: 46%;
  margin-bottom: 50px; }
@media screen and (min-width: 800px) {
  .responsive-img.img-half {
    float: none;
    width: auto;
    margin-right: 0px;
    margin-bottom: 0px; } }

.responsive-r-img {
  margin-top: 50px; }
@media screen and (min-width: 800px) {
  .responsive-r-img {
    margin-top: 0px; } }

.bordered {
  border: solid 1px #ddd;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 10px; }

.no-padd {
  padding: 0 !important; }

.no-mar {
  margin: 0 !important; }

.left {
  float: left; }

.right {
  float: right; }

.soft-shadow {
  -webkit-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.28);
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.28); }

.blur-shadow {
  box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1); }

.separate {
  position: relative; }
.separate:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 1px;
  background: #eee; }

.disp-sm-and-up {
  display: none; }
@media screen and (min-width: 500px) {
  .disp-sm-and-up {
    display: block; } }
.disp-sm-and-up.inline {
  display: none; }
@media screen and (min-width: 500px) {
  .disp-sm-and-up.inline {
    display: inline; } }
.disp-sm-and-up.fx {
  display: none; }
@media screen and (min-width: 500px) {
  .disp-sm-and-up.fx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }

.disp-md-and-up {
  display: none; }
@media screen and (min-width: 800px) {
  .disp-md-and-up {
    display: block; } }
.disp-md-and-up.inline {
  display: none; }
@media screen and (min-width: 800px) {
  .disp-md-and-up.inline {
    display: inline; } }
.disp-md-and-up.fx {
  display: none; }
@media screen and (min-width: 800px) {
  .disp-md-and-up.fx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }

.disp-lg-and-up {
  display: none; }
@media screen and (min-width: 1170px) {
  .disp-lg-and-up {
    display: block; } }
.disp-lg-and-up.inline {
  display: none; }
@media screen and (min-width: 1170px) {
  .disp-lg-and-up.inline {
    display: inline; } }
.disp-lg-and-up.fx {
  display: none; }
@media screen and (min-width: 1170px) {
  .disp-lg-and-up.fx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }

.disp-xl-and-up {
  display: none; }
@media screen and (min-width: 1600px) {
  .disp-xl-and-up {
    display: block; } }
.disp-xl-and-up.inline {
  display: none; }
@media screen and (min-width: 1600px) {
  .disp-xl-and-up.inline {
    display: inline; } }
.disp-xl-and-up.fbx {
  display: none; }
@media screen and (min-width: 1600px) {
  .disp-xl-and-up.fbx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }

#logo {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s; }

.topbar {
  position: relative;
  z-index: 99;
  justify-content: space-between;
  height: 60px;
  background: #27313a;
  box-sizing: border-box;
  padding: 0px; }
.topbar .container-full {
  height: 100%;
  overflow: visible;
  width: 100%;
  padding: 0px; }
@media screen and (min-width: 800px) {
  .topbar .container-full {
    padding: 0px 15px; } }
@media screen and (min-width: 1600px) {
  .topbar .container-full {
    width: 93%;
    max-width: 1280px; } }
.topbar .top-datos--social {
  height: 100%; }
.topbar .top-datos--social p {
  font-size: 11px; }
@media screen and (min-width: 500px) {
  .topbar .top-datos--social p {
    font-size: 11.5px; } }
.topbar .top-datos--social p span {
  margin-right: 13px;
  font-weight: 200;
  letter-spacing: 0.5px;
  color: #41cdc5; }
@media screen and (min-width: 500px) {
  .topbar .top-datos--social p span {
    margin-right: 35px; } }
.topbar .top-datos--social p i {
  color: #357773;
  margin-right: 5px; }
.topbar .top-datos--idiomas {
  height: 100%;
  justify-content: flex-end;
  padding: 0px; }
@media screen and (min-width: 1170px) {
  .topbar .top-datos--idiomas {
    padding: 0px 15px; } }
.topbar .top-datos--contact {
  height: 100%; }
.topbar .top-datos--contact p {
  font-size: 12px;
  letter-spacing: 0.5px; }

.navbar {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  width: 100%;
  background: transparent;
  z-index: 3;
  display: block;
  position: absolute;
  height: 89px;
  box-sizing: border-box; }

.nav-container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  overflow: auto;
  box-sizing: border-box;
  padding: 0px;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center; }
@media screen and (min-width: 800px) {
  .nav-container {
    width: 88%; } }

.brand {
  width: 80%; }
.brand img {
  margin-top: 8px;
  width: 130px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s; }
@media screen and (min-width: 500px) {
  .brand img {
    width: 148px; } }
@media screen and (min-width: 800px) {
  .brand img {
    width: auto; } }
@media screen and (min-width: 500px) {
  .brand {
    width: 74%; } }
@media screen and (min-width: 800px) {
  .brand {
    width: 80%; } }
@media screen and (min-width: 1170px) {
  .brand {
    display: block;
    margin-top: -5px;
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; } }

.nav {
  font-family: "Poppins", sans-serif;
  width: 20%;
  height: 100%;
  display: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s; }
@media screen and (min-width: 500px) {
  .nav {
    width: 26%;
    margin: 0px; } }
@media screen and (min-width: 800px) {
  .nav {
    width: 20%;
    margin: auto; } }
@media screen and (min-width: 1170px) {
  .nav {
    display: flex;
    width: 60%; } }
.nav .menu {
  display: none;
  width: 100%;
  width: 100%;
  height: 100%;
  padding: 0px 15px; }
@media screen and (min-width: 1170px) {
  .nav .menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    /* Safari 6.1+ */
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; } }
.nav .menu__item {
  height: 100%;
  box-sizing: border-box;
  border-top: solid 3px transparent;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s; }
.nav .menu__item.highlight {
  border-left: solid #d6d6d6 1px;
  border-top: 0px; }
.nav .menu__item.highlight:hover {
  background: #41cdc5 !important; }
.nav .menu__item.highlight:hover a {
  background: #41cdc5 !important;
  color: #fff; }
.nav .menu__item:hover .menu__link {
  color: #41cdc5; }
.nav .menu__item:hover .menu__link:before {
  background: #41cdc5;
  bottom: -4px; }
.nav .menu__link {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  position: relative;
  height: 50%; }
@media screen and (min-width: 1170px) {
  .nav .menu__link {
    font-size: 0.8125em; } }
.nav .menu__link i {
  margin-right: 10px; }
.nav .menu__link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  background: transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  height: 3px;
  width: 25px; }
.nav .menu__link:hover {
  color: #41cdc5; }
.nav .contact-link {
  box-sizing: border-box;
  display: block;
  width: 23%;
  height: 40%;
  background-color: #41cdc5;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px; }
.nav .contact-link a {
  color: #fff; }
.nav .contact-link:hover {
  background: #E6E6E6; }
.nav .contact-link:hover a {
  color: #41cdc5; }

.burguer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85px;
  width: 38px;
  height: 34px;
  margin-left: 30px;
  border-radius: 5px;
  color: #41cdc5;
  font-size: 1em; }
@media screen and (min-width: 400px) {
  .burguer-button {
    width: 40px;
    height: 37px;
    font-size: 1.1875em; } }
@media screen and (min-width: 800px) {
  .burguer-button {
    width: 40px;
    height: 37px;
    font-size: 1.1875em; } }
@media screen and (min-width: 1170px) {
  .burguer-button {
    display: none; } }

.mobile-nav {
  display: block;
  background: #333333;
  position: fixed;
  left: -760px;
  top: 0px;
  width: 89%;
  height: 100%;
  z-index: 99999;
  overflow-y: scroll;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s; }
.mobile-nav.mobile-nav--open {
  left: 0px !important; }
.mobile-nav .menu-mobile--top {
  padding: 20px;
  background: #000;
  position: relative;
  top: 0px;
  display: flex;
  z-index: 9;
  align-items: center;
  justify-content: space-between; }
.mobile-nav .menu-mobile--top .menu-mobile--close {
  width: 35px;
  height: 35px;
  color: #d1d1d1;
  border-radius: 50%; }
@media screen and (min-width: 1170px) {
  .mobile-nav .menu-mobile--top {
    padding: 20px 40px 20px 20px; } }
.mobile-nav__container.accordion {
  margin-top: 0px;
  border: 0px; }
.mobile-nav__container.accordion .accordion-section {
  border-bottom-color: #4c4c4c;
  background: transparent;
  padding: 20px 10px 20px 20px; }
@media screen and (min-width: 1170px) {
  .mobile-nav__container.accordion .accordion-section {
    padding: 20px 30px 20px 20px; } }
.mobile-nav__container.accordion .accordion-content {
  background: transparent;
  border: 0px; }
.mobile-nav__container.accordion .accordion-content h4 {
  font-size: 19px;
  line-height: 49px; }
.mobile-nav__container.accordion .accordion-content h4 i {
  font-size: 11px;
  margin-right: 10px;
  color: #41cdc5; }
.mobile-nav__container.accordion .accordion-title {
  background: transparent; }
.mobile-nav__container.accordion .accordion-title.active {
  background: #B3B3B3;
  color: #333333; }
.mobile-nav__container.accordion .accordion-button:after {
  font-size: 20px;
  border: 0px;
  background: transparent;
  color: #fff; }
.mobile-nav__item {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 20px; }
.mobile-nav__link {
  color: #fff; }
.mobile-nav .menu-mobile__link {
  font-weight: 100 !important;
  letter-spacing: 2px;
  font-size: 15px;
  color: #fff; }
@media screen and (min-width: 1170px) {
  .mobile-nav .menu-mobile__link {
    font-size: 18px; } }
@media screen and (min-width: 500px) {
  .mobile-nav {
    width: 79%; } }
@media screen and (min-width: 800px) {
  .mobile-nav {
    left: -460px;
    width: 450px; } }
@media screen and (min-width: 1170px) {
  .mobile-nav {
    display: none; } }

.menu-mobile-span {
  display: block;
  width: 80%;
  height: auto;
  font-size: 14px;
  color: #fff; }
@media screen and (min-width: 500px) {
  .menu-mobile-span {
    display: none; } }

.movil-logo {
  width: 140px; }
@media screen and (min-width: 500px) {
  .movil-logo {
    width: auto; } }

.accordion {
  width: 100%;
  height: auto;
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  box-sizing: border-box; }
.accordion-section {
  width: 100%;
  height: auto; }
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }
.accordion-title h4 {
  margin: 0px; }
.accordion-button:after {
  content: '+';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding-left: 30px;
  border-left: solid 1px #9b9b9b;
  height: 100%; }
.accordion-button.active:after {
  content: '-'; }
.accordion-content {
  height: 0px;
  overflow: hidden;
  box-sizing: border-box;
  transition: .2s; }
.accordion-content p {
  opacity: 0;
  transition: .8s; }
.accordion-content.active {
  height: auto;
  overflow: visible;
  padding: 20px 0px; }
.accordion-content.active p {
  opacity: 1; }
.accordion-content h4 {
  border: 0px !important; }

.menu-mobile__item {
  box-sizing: border-box;
  padding: 20px;
  border-bottom: #4c4c4c solid 1px; }
.menu-mobile__item h4 {
  margin: 0px; }

.menu-mobile__link {
  color: lightgrey; }

.stick {
  top: 0px;
  position: fixed;
  z-index: 9999;
  height: 70px; }
.stick .nav-container .nav .actions .menu-actions__link span:after {
  top: 0px; }
@media screen and (min-width: 1600px) {
  .stick .nav-container .nav .actions .menu-actions__link {
    height: 108%; } }
.stick .nav-container .nav .sections .menu .submenu-trigg:after {
  bottom: -19px; }

.navbar.stick #mobile-nav-button {
  top: 17px; }

.btn-text--main, .btn-text--main--border, .btn-text--second--border, .btn-text--second, .btn-text--white, .btn-text--white--border, .btn-icon-circle--main, .btn-icon-circle--second, .btn-icon-circle--greyd {
  padding: 10px;
  font-size: 1em;
  line-height: 3.3125em;
  letter-spacing: 0.5px;
  color: #fff;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.4s; }
@media screen and (min-width: 800px) {
  .btn-text--main, .btn-text--main--border, .btn-text--second--border, .btn-text--second, .btn-text--white, .btn-text--white--border, .btn-icon-circle--main, .btn-icon-circle--second, .btn-icon-circle--greyd {
    font-size: 0.875em; } }
.center-block.btn-text--main, .center-block.btn-text--main--border, .center-block.btn-text--second--border, .center-block.btn-text--second, .center-block.btn-text--white, .center-block.btn-text--white--border, .center-block.btn-icon-circle--main, .center-block.btn-icon-circle--second, .center-block.btn-icon-circle--greyd {
  display: flex !important;
  margin: auto !important; }
.btn-text--main:hover, .btn-text--main--border:hover, .btn-text--second--border:hover, .btn-text--second:hover, .btn-text--white:hover, .btn-text--white--border:hover, .btn-icon-circle--main:hover, .btn-icon-circle--second:hover, .btn-icon-circle--greyd:hover {
  box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.btn-text--main {
  width: 11.25em;
  height: 2.5em;
  background: #41cdc5;
  border-radius: 3px;
  font-weight: 600;
  color: #fff; }
.btn-text--main:hover {
  background: #41cdc5; }

.btn-text--main--border {
  width: 11.25em;
  height: 2.5em;
  background: transparent;
  color: #41cdc5;
  border: solid #41cdc5 2px; }
.btn-text--main--border:hover {
  color: #41cdc5; }

.btn-text--second--border {
  width: 11.25em;
  height: 2.5em;
  background: transparent;
  color: #255f6d;
  border: solid #255f6d 2px; }
.btn-text--second--border:hover {
  background: #255f6d;
  color: #fff;
  border-color: #255f6d; }

.btn-text--second {
  width: 11.25em;
  height: 2.5em;
  background: #255f6d; }
.btn-text--second:hover {
  background: #3891a6; }

.btn-text--white {
  width: 11.25em;
  height: 2.5em;
  background: #fff;
  color: #255f6d; }

.btn-text--white--border {
  width: 11.25em;
  height: 2.5em;
  border: solid 2px #fff;
  color: #fff; }
.btn-text--white--border:hover {
  background: #fff;
  color: #255f6d; }

.btn-icon--main {
  width: 5em;
  height: 5em;
  background: #41cdc5; }

.btn-icon--second {
  width: 5em;
  height: 5em;
  background: #255f6d; }

.btn-icon-circle--main {
  width: 2.5em;
  height: 2.5em;
  background: #41cdc5; }

.btn-icon-circle--second {
  width: 2.5em;
  height: 2.5em;
  background: #255f6d; }

.btn-icon-circle--greyd {
  width: 2.5em;
  height: 2.5em;
  background: #333333; }

.link {
  color: #41cdc5;
  display: table;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0px 21px;
  border: #41cdc5 solid 1px;
  border-radius: 30px;
  background: #fff;
  font-weight: 400;
  margin-top: 30px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s; }
.link:hover {
  color: #41cdc5;
  border-color: #fff;
  box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer; }

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  border: solid #dbdbdb 1px;
  padding: 10px;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: .3s; }
input:not([type]):active, input[type=text]:active, input[type=password]:active, input[type=email]:active, input[type=url]:active, input[type=time]:active, input[type=date]:active, input[type=datetime]:active, input[type=datetime-local]:active, input[type=tel]:active, input[type=number]:active, input[type=search]:active, textarea:active {
  -webkit-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  border-color: transparent; }
input:not([type]):focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=time]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus {
  -webkit-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  border-color: transparent; }

textarea {
  height: 120px;
  resize: vertical; }

::-webkit-input-placeholder {
  color: #b0b0b0; }

/* Chrome/Opera/Safari */
::-moz-placeholder {
  color: #b0b0b0; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #b0b0b0; }

/* IE 10+ */
:-moz-placeholder {
  color: #b0b0b0; }

/* Firefox 18- */
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  outline: none;
  border: none; }

label {
  margin-top: 0.9375em;
  display: block;
  font-size: 0.75em;
  color: #B3B3B3;
  letter-spacing: 1px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: .3s;
  background: transparent; }
select:after {
  font-family: 'FontAwesome';
  content: '\f107';
  display: block;
  width: 24px;
  height: 24px; }

select {
  color: #B3B3B3;
  border: solid 2px #E6E6E6 !important;
  width: 300px;
  margin: 10px 0px 30px 0px;
  padding: 15px 10px 15px 10px;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  font-family: "Poppins", sans-serif;
  font-size: 12px !important;
  color: #B3B3B3;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  background-image: url("../img/comun/select-arrow.png");
  background-repeat: no-repeat;
  background-position: 98%; }
select:focus {
  outline: 0;
  z-index: 1;
  background: #fafafa;
  background-image: url("../img/comun/select-arrow.png");
  background-repeat: no-repeat;
  background-position: 100%;
  border-color: #fafafa !important; }
select option {
  font-size: 12px !important; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  outline: none;
  border: none;
  border-color: none;
  line-height: 0px !important;
  color: #333333;
  font-family: "Poppins", sans-serif;
  margin-top: 20px; }
button.btn-filter {
  background: darkgrey;
  margin-top: 40px;
  height: 47px; }

/* Aviso lateral flotante */
.side-float .txt p, .side-float .txt--hide-mode p {
  font-size: 0.8125em;
  letter-spacing: 0.5px;
  margin: 6px 0px 0px 0px;
  font-weight: 400; }
.side-float .txt p strong, .side-float .txt--hide-mode p strong {
  color: #333333;
  font-weight: 600; }
.side-float .txt p a, .side-float .txt--hide-mode p a {
  display: block; }
.side-float .txt p a:hover, .side-float .txt--hide-mode p a:hover {
  color: #289993; }

.side-float {
  overflow: hidden;
  height: 120px;
  width: 447px;
  position: fixed;
  z-index: 0;
  right: 20px;
  bottom: -276px;
  /* Por defecto está oculto */
  background-color: #fff;
  -webkit-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 31px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s; }
.side-float .icn {
  width: 20%;
  color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
  background-color: #41cdc5;
  cursor: pointer; }
.side-float .icn:hover {
  background-color: #33c2b9; }
.side-float .icn:hover .fa-comments {
  animation-name: bounceIn;
  animation-duration: 2s; }
.side-float .txt {
  width: 75%; }
.side-float .txt h5 {
  margin: 20px 0px 5px 0px;
  font-size: 1.0625em;
  color: #2f7a8b;
  font-weight: 600;
  letter-spacing: 1px; }
.side-float .txt h5 .minimize {
  cursor: pointer; }
.side-float .txt h5 .minimize span {
  display: table;
  box-sizing: border-box;
  color: #41cdc5;
  padding: 4px;
  float: right;
  position: relative;
  top: -9px;
  right: 19px;
  z-index: 2;
  font-size: 0.625em;
  border-radius: 50%; }
.side-float .txt h5 .minimize:hover span {
  color: #357773; }
.side-float .txt--hide-mode {
  background-color: #41cdc5; }
.side-float .txt--hide-mode p a {
  color: #fff; }
.side-float.active {
  bottom: 20px; }
.side-float.hide-mode {
  width: 55px;
  height: 55px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer; }
.side-float.hide-mode i {
  font-size: 24px !important; }
.side-float.hide-mode .icn {
  border-radius: 50%;
  width: 100%;
  height: 100%; }
.side-float.hide-mode .txt--hide-mode {
  display: none;
  width: 70%;
  text-align: center; }
.side-float.hide-mode .txt--hide-mode a {
  display: table; }
.side-float.hide-mode:hover {
  border-radius: 30px;
  width: 194px;
  height: 40px; }
.side-float.hide-mode:hover .icn {
  width: 30%;
  border-radius: 0%; }
.side-float.hide-mode:hover .txt--hide-mode {
  display: block; }

@-webkit-keyframes bounceIn {
  from,
    20%,
    40%,
    60%,
    80%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  from,
    20%,
    40%,
    60%,
    80%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes bounceInDown {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.mkl-head {
  background-image: url("../img//img-ex-lg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 400px;
  position: relative;
  width: 100%;
  z-index: -1;
  top: 0px; }
@media screen and (min-width: 1170px) {
  .mkl-head {
    height: 780px;
    padding-top: 0px; } }
.mkl-head__caption h1 {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.9375em; }
.mkl-head__caption h1 i {
  font-weight: 500; }

/* Aviso básico política de privacidad */
.aviso-pp {
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 45px 40px;
  overflow: auto;
  margin: 20px 0px; }

.aviso-pp__cab {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  color: #255f6d;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0px; }

.aviso-pp__ap {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #939393;
  font-weight: 700; }

.aviso-pp__des {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  font-weight: 300;
  line-height: 23px; }

.aviso-pp__des a {
  font-weight: 600; }

.aviso-pp__c {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #2d2d2d;
  margin: 0px 0px 10px 0px; }

.aviso-pp__cb {
  float: left;
  margin-bottom: 8px;
  margin-right: 7px;
  margin-top: 4px; }

#aviso {
  display: block;
  box-sizing: border-box;
  padding: 30px 0px;
  color: tomato; }

#aviso.success {
  color: #24bc01; }

/*# sourceMappingURL=styles.css.map */
